@import 'tailwindcss';
@config "../../tailwind.config.js";

@font-face {
  font-family: 'Roboto';
  src: url('@/assets/fonts/RobotoFlex.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
